:root{
    --primary-color: #155eef; 
    --secondary-color: #188bf6; 
    --accent-color: #893ecf;
    --back-color: #eeeeee;
    --heading-font: "Zalando Sans", sans-serif;
    --body-font: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

body {
    font-family: var(--body-font);
    background-color: var(--back-color);
    color: black;
}

.header-container {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--back-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border-bottom: solid 2px;
}

.head-title {
    font-size: 2.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
    text-align: left;
}

header img {
    width: 50px;
}

nav {
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    text-align: center;
}

nav.active {
    display: flex;
}

nav a {
    color: var(--back-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.3rem;
}

nav a:hover {
  background-color: var(--accent-color);
}

.hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.5rem;
}

h1 {
    margin-left: 1rem;
}

button {
    color: var(--back-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    cursor: pointer;
    margin: 0 0.3rem;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--back-color);
}

footer {
    margin-top: 2rem;
    display: block;
    text-align: left;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
}

.address {
    text-align: center;
}

.socialmedia {
    text-align: center;
    filter: invert(1);
}

.copyright {
    margin: 0.5rem 0;
}

.copyright p {
    margin: 0;
}

.services-cards {
    margin: 1rem 2rem; 
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
}

.service-card {
    grid-column: span 1;
	background-color: white;
	border: 3px solid rgb(0 0 0 / 10%);
    border-radius: 20px;
	flex-direction: column;
	align-items: center;
    display: block;
    text-align: center;
}

.service-card h2 {
    margin: 0;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    background-color: var(--secondary-color);
    color: var(--back-color);
}

.service {
    padding: 0 1rem 1rem 1rem;
}

@media (min-width: 768px) {
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        box-shadow: none;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--back-color);
        border-bottom: solid 2px var(--primary-color);
    }

    nav a {
        color: var(--primary-color);
    }

    nav a:hover {
        background-color: var(--back-color);
    
        font-weight: bold;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }


    .services-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}