.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 999;
}

.modal h3 {
    text-align: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    margin: 10% auto;
    width: auto;
    max-width: 450px;
    position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}

.service-card {
    text-align: center;
    opacity: 0;
    transform: translateY(60px);
    animation: fadeSlide 1s forwards ease;
}

.service-card:nth-child(1) {
    animation-delay: 0.2s;
}

.service-card:nth-child(2) {
    animation-delay: 0.4s;
}

.service-card:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.how {
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: white;
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
}

.steps {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    
}

.steps img {
    width: 50px;
    filter: invert(40%) sepia(95%) saturate(2668%) hue-rotate(196deg) brightness(94%) contrast(101%);
}

.reviews {
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    text-align: center;
}

.review-cards {
    display: grid;
    gap: 1rem;
}

.review-cards  h3 {
    color: var(--primary-color);
    margin-bottom: 0;
}

.review-card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: lightgray 0px 4px 6px -1px, lightgray 0px 2px 4px -1px;
}

.review-place {
    font-style: italic;
    color: gray;
    margin-top: 0;
    font-size: 0.8rem;
}

.schedule-action-section {
    margin: 0 auto;
    padding: 2rem 1.5rem;
    text-align: center;
    background-color: white;
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    display: block;
}

.schedule-action-section p {
    max-width: 800px;
    margin: 1rem auto;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .steps, .review-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .review-card:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
}