.menu {
    text-align: center;
    margin: 0.3rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
}

/* grid layout*/

.grid {
    display: grid;
}

.grid section {
	grid-column: span 1;
	margin: 0.5rem ;
	padding: 1rem;
	background-color: white;
	border: 3px solid rgb(0 0 0 / 10%);
	display: flex;
	flex-direction: column;
	align-items: center;
    border-radius: 30px;
}

.grid section p {
	margin: 0.5rem;
	font-size: smaller;
	text-align: center;
}

.grid img {
    max-width: 128px;
}

/* list layout*/

.list h2 {
    font-size: 0.8rem;
    padding: 0.3rem;
}

.list p, .list a {
    font-size: 0.6rem;
    padding: 0.3rem;
}

.list img {
    display: none;
}

.list section {
    display: grid;
    grid-template-columns: 20% 30% 10% 40%;
    text-align: left;
    border-bottom: 1px solid;
}

/* large css*/

@media (min-width: 650px) {
    .list h2 {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .list p, .list a {
        font-size: 0.8rem;
    }
}

@media (min-width: 930px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .list h2 {
        font-size: 1.5rem;
    }

    .list p, .list a {
        font-size: 1rem;
    }
}

@media (min-width: 1224px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}