.discover-main {
    margin: 2rem auto 4rem auto;
    padding: 0 1rem;
}

.message-card {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

#locations-grid {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 0.5rem;
}

.location-card {
	grid-column: span 1;
	margin: 0.5rem ;
	padding: 1rem;
	background-color: white;
	border: 3px solid rgb(0 0 0 / 10%);
    border-radius: 30px;
    display: grid;
    text-align: center;
    gap:0.5rem;
    grid-template-areas: 
        "title"
        "image"
        "address"
        "description"
        "link";
}

.location-card h2 {
    text-align: center;
    grid-area: title;
}

.location-card figure {
    grid-area: image;
}

.location-card img {
    width: 100%;
    max-width: 300px;
}

.location-card address {
    font-size: 0.9rem;
    grid-area: address;
}

.location-card p {

    grid-area: description;
}

.location-card button {
    grid-area: link;
    justify-self: center;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--back-color);
}

@media (min-width: 640px) {

    #locations-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1025px) {

    #locations-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .location-card:hover img {
        transform: scale(1.2);
        filter: brightness(1.05);
    }

}