.team-main {
max-width: 1200px;
}

.team-section{
    margin: 1rem;
    text-align: center;
}


#team-grid {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 0.5rem;
}

.team-card {
	margin: 0.5rem ;
	padding: 0;
	background-color: white;
    box-shadow: lightgray 0px 4px 6px -1px, lightgray 0px 2px 4px -1px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap:0.5rem;
}

.team-card h3 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: var(--back-color);
    background-color: var(--secondary-color);
    border-radius: 20px 20px 0 0;
    max-height: 1rem;
}

.team-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}

.team-card figcaption {
    font-size: 0.9rem;
    font-style: italic;
}
.team-card p {
    padding: 0 1rem 1rem 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
}

.schedule-action-section {
    margin: 0 auto;
    padding: 2rem 1.5rem;
    text-align: center;
    background-color: white;
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    display: block;
}

.schedule-action-section p {
    max-width: 800px;
    margin: 1rem auto;
    font-size: 1.2rem;
}

@media (min-width: 768px) {

    #team-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}
