body {
	font-family: Roboto, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	margin: 1rem 0;
	text-shadow: 0 0 30px #111;
}

#cards {
	display: grid;
}


section {
	grid-column: span 1;
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #eee;
	border: 1px solid rgb(0 0 0 / 10%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

section > p {
	margin: 0.5rem;
	font-size: smaller;
	text-align: center;
}

img {
	width: auto;
	max-width: 325px;
	box-shadow: 0 0 30px #777;
	height: 200px;
	border: 1px solid #111;
}

@media (min-width: 600px) {
	#cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 900px) {
	#cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {
	#cards {
		grid-template-columns: repeat(4, 1fr);
	}
}