:root{
    --primary-color: #01161e; 
    --secondary-color: #124559; 
    --accent1-color: #598392; 
    --back-color: #eff6e0;
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Source Sans 3", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--back-color);
    color: var(--primary-color);
}

.header-container {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--back-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border-bottom: solid 2px;
}

.head-title {
    font-size: 2.5rem;
}

header img {
    width: 50px;
    filter: invert(1) hue-rotate(180deg) brightness(0.9);
}

nav {
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    text-align: center;
}

nav.active {
    display: flex;
}

nav a {
    color: var(--back-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.3rem;
}

nav a:hover {
  background-color: var(--accent1-color);
  color: var(--primary-color);
}

.hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.5rem;
}

h1 {
    margin-left: 1rem;
}

.cardholder {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 1rem;
}

.card {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card h2{
    background-color: var(--secondary-color);
    color: var(--back-color);
    padding: 0.3rem 0;
}

.card p {
    padding: 0.5rem;
}

.photo {
    text-align: center;
}

.photo img {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
}

#course-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#course-options [type=button] {
    margin: 1rem 0.2rem ;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: var(--primary-color);
    background-color: var(--back-color);
}

#course-options [type=button]:hover {
    background-color: var(--secondary-color);
    color: var(--back-color);
}

#credits {
   text-align: center;
}

#filtered section {
    border-bottom: 5px solid var(--secondary-color);
    background-color: var(--back-color);
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin: 0.5rem 1rem;
}

#filtered span {
    border-bottom: 5px solid var(--secondary-color);
    background-color: var(--back-color);
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin: 0.5rem 1rem;
    display: block;
}

#filtered .toNotColor { 
    background-color: white;
    border: 1px solid var(--secondary-color);
}

footer {
    margin-top: 2rem;
    display: block;
    text-align: center;
}

.copyright {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
}

